/* MISC*/
/*colors*/
/*spacings*/
.spacing-large {
  padding: 6rem; }

.spacing-medium {
  padding: 2.4rem; }

.spacing-small {
  padding: 2rem; }

.spacing-xsmall {
  padding: 1rem; }

/*Font- family */
/*Font- sizes*/
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Raleway"; }

#main {
  background-image: url(../img/patternpad.svg); }

.color-acento {
  color: #EC058E; }

@media (min-width: 720px) {
  #hero h1 {
    font-size: 5em; }
  #vida-millenial .container-millenial {
    display: flex;
    justify-content: space-evenly; }
  #vida-millenial .container-home {
    display: flex;
    justify-content: space-evenly; }
  #vida-millenial .texto-vida {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; }
  #vida-millenial h2 {
    margin-top: 0px;
    padding-bottom: 10px; }
  #about-us h2 {
    margin-top: 0px;
    padding-bottom: 10px;
    animation: maquina 5s infinite alternate; }
  #vida-millenial .img-containermil {
    background-image: url("../img/compu.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; }
  .img-containerhome {
    background-image: url("../img/montaniasnoa2.jpeg");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 300px;
    border-radius: 20%; }
  #actividades .actividades {
    display: flex;
    justify-content: center; }
  #services .items {
    display: flex;
    justify-content: center; }
  #actividades p {
    display: block;
    margin-bottom: 30px; }
  #about-us p {
    display: block;
    margin-bottom: 30px; }
  #services p {
    display: block;
    margin-bottom: 5px; }
  #actividades h3 {
    margin-top: 0;
    font-size: 40px;
    padding-bottom: 1em; }
  #services h3 {
    margin-top: 0;
    font-size: 25px;
    padding-bottom: 0.5em; }
  #actividades h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 4em; }
  #services h2 {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 2em; }
  #actividades .cartas {
    padding: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  #services .item {
    padding: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  #extras {
    background-image: url(../img/millenialwoman.jpg);
    background-repeat: no-repeat;
    background-size: 600px 400px;
    background-position: calc(100vw - 700px) 120px; }
  #extras .container-millenial {
    text-align: initial; }
  #extras ul {
    margin-left: 100px; }
  #tutorias h2 {
    font-size: 4em;
    padding-bottom: 15px; }
  #tutorias button {
    font-size: 2em; } }

@media (min-width: 1200px) {
  #extras {
    background-position-x: calc(100vw - 800px); } }

@media screen and (max-width: 700px) {
  ul {
    list-style: none; } }

@media screen and (max-width: 480px) {
  .grid, .img-banner, .titulo-inicio {
    grid-template-columns: 1/1;
    align-items: center; }
  #instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; } }

@media screen and (max-width: 480px) {
  .titulo-inicio {
    padding-top: 5rem; } }

/*PARTIALS*/
.navbar .nav-item .nav-link {
  color: white; }
  .navbar .nav-item .nav-link.active {
    color: #EC058E; }

.navbar .btn, .navbar footer .btn--aceptar, footer .navbar .btn--aceptar, .navbar footer .btn--cancelar, footer .navbar .btn--cancelar {
  color: #EC058E;
  border-color: #EC058E; }
  .navbar .btn:hover, .navbar footer .btn--aceptar:hover, footer .navbar .btn--aceptar:hover, .navbar footer .btn--cancelar:hover, footer .navbar .btn--cancelar:hover {
    background-color: #EC058E; }

.navbar-toggler {
  line-height: 1;
  color: rgba(221, 10, 151, 0.9);
  background-color: #f3a5db; }

.logo {
  height: 80px;
  width: 300px; }

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 40px 0; }
  footer .btn, footer .btn--aceptar, footer .btn--cancelar {
    width: 150px;
    padding: 10px 12px;
    font-size: 18px;
    margin: 5px auto;
    border: none; }
  footer .btn--aceptar {
    color: #fff;
    background-color: #EC058E; }
    footer .btn--aceptar:hover {
      background-color: #a5158dfd; }
  footer .btn--cancelar {
    color: #fff;
    background-color: #b1a9ae; }
    footer .btn--cancelar:hover {
      background-color: #85818379; }

/*VIEWS*/
.lugares {
  display: flex;
  text-align: center;
  margin-left: 10%;
  padding: 20px; }

.lista-ordenada {
  margin-left: 20px; }

.color-acento {
  color: #EC058E; }

#heroContact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/conectados.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#heroContact h1 {
  font-size: 3.5em; }

#fondoform {
  background-image: url(../img/homeoffice.jpg); }

.color-acento {
  color: #EC058E; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lifestyle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#hero h1 {
  font-size: 3.5em; }

#vida-millenial .container-millenial {
  text-align: center;
  padding: 200px 12px; }

#vida-millenial h2 {
  font-size: 3em; }

.actividades {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

#actividades {
  display: flex;
  background-color: #1e1e1e;
  color: white;
  justify-content: space-between; }

#actividades .container-millenial {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%; }

#actividades h2 {
  margin-top: 0;
  font-size: 3em; }

#actividades p {
  display: none; }

.actividades {
  background-color: rgba(0, 0, 0, 0.5); }

.actividades .cartas {
  background-color: #000;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px; }

.actividades .cartas:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/food.jpg); }

.actividades .cartas:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/coffee.jpg); }

.actividades .cartas:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/yoga.jpg); }

#extras li {
  margin: 15px 0px;
  font-weight: bold;
  list-style: none; }

#tutorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  height: 50vh; }

#tutorias h2 {
  font-size: 5vh; }

#tutorias button {
  font-size: 3vh; }

.color-acento {
  color: #EC058E; }

.cardsv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 24px;
  flex-wrap: wrap; }
  .cardsv .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 30%;
    max-width: 400px;
    min-width: 300px; }
    .cardsv .box .box__info {
      display: flex;
      flex-direction: column;
      padding: 2.4rem; }
      .cardsv .box .box__info .box__title {
        font-family: "Raleway", serif;
        color: #000000;
        font-size: 2.4rem; }
      .cardsv .box .box__info .box__subtitle {
        color: #FFFFFF;
        font-size: 1.4rem; }
      .cardsv .box .box__info .box__text {
        color: #403F4C;
        font-size: 18px;
        text-align: justify; }

/*gallery*/
.subtitulo--viajes {
  text-align: center; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 30px;
  grid-gap: 10px; }
  .gallery-container .galleryItem {
    position: relative; }
    .gallery-container .galleryItem .galleryItem:nth-child(4) {
      grid-column-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(5) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(5) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(8) {
      grid-column-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(7) {
      grid-row-start: span 3; }
    .gallery-container .galleryItem .galleryItem:nth-child(3) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(9) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(6) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(10) {
      grid-row-start: span 2; }
    .gallery-container .galleryItem .galleryItem:nth-child(6) {
      grid-column-start: span 2; }
    .gallery-container .galleryItem .galleryImg {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .gallery-container .galleryItem .galleryTitle {
      position: absolute;
      bottom: 0;
      color: white;
      background: linear-gradient(rgba(255, 255, 255, 0.1), black);
      width: 100%;
      margin: 0%;
      padding: 20px; }

.container {
  max-width: 1200px;
  margin: auto; }
  .container .viajes-textos {
    text-align: center;
    padding: 20px;
    /*aca hay un h2, dos parrafos y un img que estan hechos con bootstrap, entonces no tienen css especifico o modificado. todos son hijos de .viajes-textos*/ }

.color-acento {
  color: #EC058E; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lifestyle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF; }
  #hero button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #EC058E;
    margin-top: 12%; }

#instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: flex;
    align-items: center;
    justify-content: center;*/
  margin: 20px; }

#vida-millenial .container-home {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  padding: 200px 12px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ruta66.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 60px;
  margin-bottom: 40px; }
  #vida-millenial .container-home .img-containerhome {
    background-image: url("../img/montaniasnoa2.jpeg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
    border-radius: 20%; }
  #vida-millenial .container-home .texto-vida {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #vida-millenial .container-home .texto-vida h2 {
      font-size: 3.5em;
      color: #000; }
    #vida-millenial .container-home .texto-vida p {
      color: white; }

#about-us {
  background: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  height: auto;
  padding-bottom: 60px; }
  #about-us .container-millenial {
    max-width: 1400px;
    margin: auto; }
    #about-us .container-millenial h2 {
      font-size: 3em;
      text-align: center;
      padding: 1em;
      margin: 0.9em; }
    #about-us .container-millenial p {
      grid-column: 1/-1;
      line-height: 2em;
      margin-left: 30px;
      margin-right: 30px;
      text-align: justify;
      font-size: calc(1em + 1vw); }

.container {
  max-width: 1200px;
  margin: auto; }
  .container .mission-grid .textos-mission {
    grid-column: 1/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
    text-align: center; }
    .container .mission-grid .textos-mission .subtitulo {
      font-size: 3em;
      text-align: center;
      padding: 1em;
      margin: 0; }
    .container .mission-grid .textos-mission .img-mission {
      grid-column: 1/7;
      grid-row: 1/-1;
      transition: transform .8s; }
    .container .mission-grid .textos-mission .img-mission:hover {
      transform: scale(1.07); }
    .container .mission-grid .textos-mission .accordion {
      border-color: #000; }
      .container .mission-grid .textos-mission .accordion .accordion-item {
        color: #dd57cc; }
        .container .mission-grid .textos-mission .accordion .accordion-item .accordion-header {
          color: #000; }
          .container .mission-grid .textos-mission .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
            color: black;
            font-weight: bolder;
            background-color: #FAFAFA;
            border-bottom: #EC058E solid 2px; }
          .container .mission-grid .textos-mission .accordion .accordion-item .accordion-header .accordion-button:focus {
            box-shadow: none;
            border-color: none; }
          .container .mission-grid .textos-mission .accordion .accordion-item .accordion-header .accordion-button ::after {
            color: #000; }
