footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
  
    

    .btn{
        width: 150px;
        padding: 10px 12px;
        font-size: 18px;
        margin: 5px auto;
        border: none;
        color: #EC058E

    }

    .icon{
        text-decoration: none;
        }
}
