.navbar {
    $bs-navbar-color: rgb(250, 249, 249);
    $bs-navbar-hover-color: rgba(252, 5, 219, 0.7);
    $bs-navbar-active-color: rgba(190, 53, 142, 0.9);
    $bs-navbar-toggler-border-color: rgba(240, 12, 221, 0.1);  
    $bs-navbar-padding-y: 0;
    $bs-navbar-brand-padding-y: 0;

    .navbar-toggler {
        color: rgba(221, 10, 151, 0.9);
        background-color: #f3a5db;
    }

    .nav-item {

        .nav-link{
            color: white;
            &.active{
                color: $alternative;
            }
        }
        
    }

    .btn{
        color: $alternative;
        border-color: $alternative;
        &:hover{
            background-color: $alternative;
        }
    }
    
}

.navbar-toggler {
    $bs-navbar-toggler-padding-y: 2%;
    $bs-navbar-toggler-padding-x: 2%;
    $bs-navbar-toggler-font-size: 1.5rem;
    line-height: 1;
    color: rgba(221, 10, 151, 0.9);
    background-color: rgb(243, 165, 219);
}

.logo {
    height: 80px;
    width: 300px;
}