#heroContact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/conectados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#heroContact h1{
    font-size: 3.5em;
}

#fondoform {
    background-image: url(../img/homeoffice.jpg);
}

.container {
    max-width: 1200px;
    margin: auto;

    .row {
        display: flex;
    }
}

.btn-primary {
    --bs-btn-bg: #EC058E;
    --bs-btn-border-color: #1f0115;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: #ec058e;

}
.color-acento{ 
    color: #EC058E;
}