#heroContact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/conectados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#heroContact h1{
    font-size: 3.5em;
}

#fondoform {
    background-image: url(../img/homeoffice.jpg);
}