#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
   background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/lifestyle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    font-size: 3.5em;
}

#hero .btn {
    color: white;
    background-color: #EC058E;
}

#vida-millenial .container-millenial{
    text-align: center;
    padding: 200px 12px;
}

#vida-millenial h2{
    font-size: 3em;
}

#actividades{
    display: flex;
    background-color: rgb(30, 30, 30);
    color: white;
    justify-content: space-between;
}

#actividades .container-millenial{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

#actividades h2{
    margin-top: 0;
    font-size: 3em;
    text-align: center;
}

#actividades p{
    display: none;
}

.actividades{
    background-color: rgba(0, 0, 0, 0.5);
}

.actividades .cartas{
    background-color: #000;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

    .btn{
        font-size: 1em;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        color:  white;
        background-color: #EC058E;
        margin-top: 12%;
        }
}

.actividades .cartas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/food.jpg);
    
}


.actividades .cartas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/coffee.jpg);
    
}

.actividades .cartas:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/yoga.jpg);
    
}

#extras  {
    display: flex;
    align-items: flex-end;
    max-width: 1400px;
    margin: auto;
    background-image: url(../img/millenialwoman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;

        li{
            margin: 15px 0px;
            font-weight: bold;
            font-size: 1em;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    




#tutorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 30vh;

    .btn{
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        color: white;
        background-color: #EC058E;
        margin-top: 12%;
    }

    h2{
        font-size: 4vh;
        color: #000;
    }
}
  


.color-acento{ 
    color: #EC058E;
}