.cardsv {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding: 24px;
    flex-wrap: wrap;

    .box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1 1 30%;
        max-width: 400px;
        min-width: 300px;


        .box__info {
            display: flex;
            flex-direction: column;
            padding: $spacing-medium;
            gap: map-get($spacings, $spacing-xsmall);

            .box__title {
                font-family: $font-title;
                color: $primary;
                font-size: $text-medium;
            }
            .box__subtitle {
                color: $secondary;
                font-size: $text-small;
            }
            .box__text {
                color: $text-color;
                font-size: 18px;
                text-align: justify;
            } 
        } 
    }

}
/*gallery*/
.subtitulo--viajes {
    text-align: center;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 30px;
    grid-gap: 10px;

    .galleryItem {
        position: relative;

        .galleryItem:nth-child(4) {
            grid-column-start: span 2;
        }
        .galleryItem:nth-child(5) {
            grid-row-start: span 2;
        }
        
        .galleryItem:nth-child(5) {
            grid-row-start: span 2;
        }
        
        .galleryItem:nth-child(8) {
            grid-column-start: span 2;
        }
        
        .galleryItem:nth-child(7) {
            grid-row-start: span 3;
        }
        
        .galleryItem:nth-child(3) {
            grid-row-start: span 2;
        }
        .galleryItem:nth-child(9) {
            grid-row-start: span 2;
        }
        
        .galleryItem:nth-child(6) {
            grid-row-start: span 2;
        }
        
        .galleryItem:nth-child(10) {
            grid-row-start: span 2;
        }
        .galleryItem:nth-child(6) {
            grid-column-start: span 2;
        }

        .galleryImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .galleryTitle {
            position: absolute;
            bottom: 0;
            color: white;
            background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0,1));
            width: 100%;
            margin: 0%;
            padding: 20px;
        }
    }
}


.container {
    max-width: 1200px;
    margin: auto;

    .viajes-textos {
        text-align: center;
        padding: 20px;

        /*aca hay un h2, dos parrafos y un img que estan hechos con bootstrap, entonces no tienen css especifico o modificado. todos son hijos de .viajes-textos*/ 
    }
}

.color-acento{ color: #EC058E;}




