/*Normalize*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: $font-principal;
}

#main{
  background-image: url(../img/patternpad.svg);
}

.color-acento{ color: #EC058E;}