/*colors*/
$primary: #000000;
$secondary: #6A8D92;
$alternative: #EC058E;
$text-color: #403F4C;
$base: #FAFAFA;

/*spacings*/
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

$spacings: (
    spacing-large: 6rem,
    spacing-medium: 2.4rem,
    spacing-small: 2rem,
    spacing-xsmall: 1rem
);

@each $key, $val in $spacings {
    .#{$key} {
        padding: #{$val};
    }
}

/*Font- family */
$font-principal: 'Raleway';
$font-title: 'Raleway', serif;

/*Font- sizes*/
$text-large: 5.2rem;
$text-medium: 2.4rem;
$text-base: 1.6rem;
$text-small: 1.4rem;
